@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&family=Inter:wght@400;500;700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:wght@300;400;500;600;800&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.header_button {
  display: flex;
  border-radius: 2rem;
  background: #1a1a1a;

  justify-content: center;
  align-items: center;
  width: 9.5rem;
  height: 48px;
  border-radius: 32px;
  gap: 12px;
}
/* Typography css */
.header_t1 {
  font-family: "DM Sans";
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  opacity: 0.5;
}
.header_t1 {
  font-family: "DM Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
.footer_t1 {
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

/* footer */

.footer {
  border: 5px solid #ff0000;
}

/* hero */

/*onboard*/
.dmsans40016 {
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}
